<%- include("partials/header") -%>

<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">LG Daily Update</h1>
    <p class="lead">Register or Login!</p>
    <hr><br />
    <span>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>&nbsp&nbsp&nbsp&nbsp
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
    </span>

  </div>
</div>


<%- include("partials/footer") -%>
