<%- include("partials/header") -%>

<h1>Oops! You have already entered your details for Today</h1>

<div class="middle-container">
<a href="/"><button class="btn1 btn-lg btn-warning" type="button" name="button">Try Again</button></a>
</div>

<%- include("partials/footer") -%>
