<%- include("partials/header") -%>

<h1>Congrats! Your Data has been successfully Saved</h1>

<div class="middle-container">
<a href="/"><button class="btn1 btn-lg btn-warning" type="button" name="button" href="/logout">Log Out</button></a>
</div>

<%- include("partials/footer") -%>
